footer
    .footer-discuss
        .container
            .content-discuss
                h2 Want to discuss your next Solution?
                button.btn-more Let&rsquo;s Talk
    .container
        .footer-content-wrapper
            .footer-row
                .col-md-12
                    .footer-logos
                        .footer-logo-img
                            img(src='img/kpiibmlogo.jpg', alt='logo')
                .col-md-6.col-xs-12
                    p.footer-descr We did not get to where we are today overnight. Our combined 30+ years of experience entitles us to be called experts in Analytics, Performance Management and Digital Marketing Solutions.
                .col-md-6.col-xs-12
                    .footer-mail-form
                        p Stay connected
                        form(action='http://www.pages08.net/knowledgeprovidersinc/signup/')
                            input(type='email', placeholder='Email')
                            button.btn-more(type='submit') Sign up now
            .footer-row
                .col-md-2.col-xs-6.footer-list
                    h4.footer-list-title Discover

                    ul
                        li
                            a(href='http://kpidigital.com/analyticshome') Analytics
                        li
                            a(href='http://kpidigital.com/digitalmarketinghome') Digital Marketing
                        li
                            a(href='http://kpidigital.com/performancemanagement') Performance Management

                .col-md-2.col-xs-6.footer-list
                    h4.footer-list-title About
                    ul
                        li
                            a(href='http://kpidigital.com/ourleadershipteam') Who we are
                        li
                            a(href='http://kpidigital.com/careers') Careers
                        li
                            a(href='http://kpidigital.com/blogs') Blogs
                .col-md-2.col-xs-5.footer-list
                    h4.footer-list-title Contact
                    ul
                        li
                            a(href='tel:8775743678') (877) 574-3678 ext.117
                        li
                            a(href='mailto:info@KPIDigital.com') info@KPIDigital.com
                        li
                            p Canada
                .col-md-6.col-xs-7.footer-list
                    h4.footer-list-title Follow us on
                    ul.footer-socials
                        li.social-logo
                            a(href='https://www.facebook.com/KnowledgeProvidersInckpi')
                                img(src='img/facebook.svg', alt='facebook')
                        li.social-logo
                            a(href='https://www.linkedin.com/company/11162106/')
                                img(src='img/linkedin.svg', alt='linkedin')
                        li.social-logo
                            a(href=' https://twitter.com/KPI_Digital')
                                img(src='img/twitter.svg', alt='twitter')
                        li.social-logo
                            a(href='https://www.instagram.com/kpidigitalsolutions/')
                                img(src='img/instagram.svg', alt='instagram')
                        li.social-logo
                            a(href='https://www.youtube.com/channel/UCAql8EIq1cYg0T_eWzz_qlg')
                                img(src='img/youtube.svg', alt='youtube')



    button#scrollTop(title='Go to top')
        i.fa.fa-angle-up
