footer
    .footer-discuss
        .container
            .content-discuss
                h2 Want to discuss your next Solution?
                button.btn-more Let&rsquo;s Talk
    .container
        .footer-content-wrapper
            .footer-row
                .footer-logos
                    .footer-logo-img
                        img(src='img/kpi-transparency.png', alt='logo')
                    .footer-fax
                        p (877) KPI-FOR-U ext. 117
                        a(href='mailto:Info@MyKnowledgeProviders.com') Info@MyKnowledgeProviders.com
                    .footer-logo-img
                        img(src='img/ibm.png', alt='logo')
                .footer-list
                    ul
                        li Explore by Services
                        li
                            a(href='#') Consulting
                        li
                            a(href='#') Support and Managed
                        li
                            a(href='#') Advisory
                        li
                            a(href='#') Training
                        li
                            a(href='#') IBM Software Licence
                        li
                            a(href='#') Practice Leaders
                        li
                            a(href='#') Cloud
                .footer-list
                    ul
                        li Explore by Solution
                        li
                            a(href='#') Industry
                        li
                            a(href='#') LOB
                        li
                            a(href='#') Role
                        li
                            a(href='#') Application
                        li
                            a(href='#') On the Cloud
                .footer-list
                    ul
                        li Explore by Company
                        li
                            a(href='#') Who We Are
                        li
                            a(href='#') Clients
                        li
                            a(href='#') Leadership Team
                        li
                            a(href='#') Our Partners
                        li
                            a(href='#') Our Teams
                .footer-list
                    ul
                        li Explore by Careers
                        li
                            a(href='#') Careers
                        li
                            a(href='#') Culture
                        li
                            a(href='#') Professional Development
                        li
                            a(href='#') Apply Now
            .footer-row2
                .footer-social
                    ul
                        li Follow us on
                        li
                            a(href='http://www.linkedin.com/company/knowledge-providers-inc.')
                                i.fa.fa-linkedin(aria-hidden='true')
                        li
                            a(href='https://twitter.com/KnowledgeKPI')
                                i.fa.fa-twitter(aria-hidden='true')
                        li
                            a(href='http://www.youtube.com/user/MyKnowledgeProviders')
                                i.fa.fa-youtube(aria-hidden='true')
                        li
                            a(href='https://www.facebook.com/KnowledgeProvidersInckpi')
                                i.fa.fa-facebook(aria-hidden='true')
                .footer-mail-form
                    div
                        p stay connected
                        form(action='')
                            input.form-control(type='email', placeholder='Email')
                            button.btn-more(type='submit') Submit

    button#scrollTop(title='Go to top')
        i.fa.fa-angle-up
