head
    meta(charset='utf-8')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    title KPI
    meta(content='' name='author')
    meta(content='KPI Description' name='description')
    meta(content='' name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='ie=edge' http-equiv='x-ua-compatible')
    //- favicon block start
    link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    //- favicon block end
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='http://kpidigital.com/css/libs/flexslider.css')
    link(rel='stylesheet', href='http://kpidigital.com/css/normalize.css')
    link(rel='stylesheet', href='http://kpidigital.com/css/jquery.dropdown.css')
    link(rel='stylesheet', href='http://kpidigital.com/css/slick.css')
    link(rel='stylesheet', href='http://kpidigital.com/css/slick-theme.css')
    link(rel='stylesheet', href='http://kpidigital.com/css/libs/slicknav.min.css')
    link(rel='stylesheet', href='http://kpidigital.com/css/jquery.mb.YTPlayer.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://kpidigital.com/css/themify-icons.css')
    link(rel='stylesheet', href='http://kpidigital.com/css/bootstrap-datetimepicker.css')
    link(rel='stylesheet', href='http://kpidigital.com/css/magnific-popup.css')

    link(rel='stylesheet' href='/styles/main.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
    //script(src='assets/scripts/common.js' defer)
    //script(src='assets/scripts/app.bundle.js' defer)
    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

