header.not-fixed-header
    .header-wrapper
        .header-top
            .header-top-l
                a.header-logo(href='/')
                    img(src='img/logo.jpg', alt='logo')
                    .header-top-l-inc  KPI DIGITAL
                .search-box-mobile
                    .search-box
                        form(action='', autocomplete='on')
                            a#closeSearchMobile(href='/')
                                i.fa.fa-times
                            input#search(name='search', type='text', placeholder='Enter the text')
                            button#search_mobile_submit(type='submit')
                                i.fa.fa-search
                a#openSearchMobile(href='#')
                    i.fa.fa-search
            ul.header-top-r
                li
                    a(href='#')
                        i.fa.fa-user
                        | My KPI
                li
                    a(href='#') (877) 574-3678
                li
                    a.lang.active(href='#') FR
                    a.lang(href='#') ENG
                li.search-box-wrapper
                    .search-box
                        form(action='', autocomplete='on')
                            input#search(name='search', type='text', placeholder='Enter the text')
                            input#search_submit(type='submit')
                    a(href='#')
                        i.fa.fa-search
                li#btn-slide-box.slide
                    a.btn-slide(href='#')
                        i.fa.fa-bars
        #slide-menu.right-slide-menu
            .right-panel
                ul
                    li
                        a.btn-slide-close(href='#')
                            i.fa.fa-times
                ul
                    li
                        a(href='#') Analytics
                    li
                        a(href='#') Digital Marketing
                    li
                        a(href='#') Perfomance Management
                ul.hide-accordion-list
                    li.accordion-box
                        a.accordion(href='#')
                            | Solutions
                            i.fa.fa-plus
                        ul.accordion-content
                            li.inner-accordion-box
                                a.inner-accordion(href='#')
                                    span
                                        | Analytics by Industry
                                        i.fa.fa-plus
                                ul.inner-accordion-content
                                    li
                                        a(href='/banking')
                                            span Banking
                                    li
                                        a(href='/analyticsforconsumerproducts')
                                            span Consumer Products
                                    li
                                        a(href='/analyticsforhealthcare')
                                            span Healthcare
                                    li
                                        a(href='/analyticsforinsurance')
                                            span Insurance
                                    li
                                        a(href='/analyticsformanufacturing')
                                            span Manufacturing
                                    li
                                        a(href='/analyticsforretail')
                                            span Retail
                            li.inner-accordion-box
                                a.inner-accordion(href='#')
                                    span
                                        | Analytics By LOB
                                        i.fa.fa-plus
                                ul.inner-accordion-content
                                    li
                                        a(href='/analyticsforcustomerservice')
                                            span Customer Service
                                    li
                                        a(href='/analyticsforfinance')
                                            span Finance
                                    li
                                        a(href='/analyticsforhumanresources')
                                            span Human Resources
                                    li
                                        a(href='/analyticsforoperations')
                                            span Operations
                                    li
                                        a(href='/analyticsformarketing')
                                            span Marketing
                                    li
                                        a(href='/analyticsforsales')
                                            span Sales
                            li.inner-accordion-box
                                a.inner-accordion(href='#')
                                    span
                                        | Analytics by Role
                                        i.fa.fa-plus
                                ul.inner-accordion-content
                                    li
                                        a(href='/analyticssolutionsforceo')
                                            span CEO
                                    li
                                        a(href='/analyticssolutionsforcfo')
                                            span CFO
                                    li
                                        a(href='/analyticssolutionsforcmo')
                                            span CMO
                                    li
                                        a(href='/analyticssolutionsforcio')
                                            span CIO
                            li.inner-accordion-box
                                a.inner-accordion(href='#')
                                    span
                                        | Analytics by Application
                                        i.fa.fa-plus
                                ul.inner-accordion-content
                                    li
                                        a(href='/advancedanalyticssolutions')
                                            span Advanced Analytics
                                    li
                                        a(href='/analytics')
                                            span Analytics
                                    li
                                        a(href='/digital_marketing')
                                            span Digital Marketing
                                    li
                                        a(href='/performancemanagementsolutions')
                                            span Performance Management
                                    li
                                        a(href='/valuebasedperformancemanagementvbpmsolutions')
                                            span Value-based Performance Management
                    li.accordion-box
                        a.accordion(href='#')
                            | Services
                            i.fa.fa-plus
                        ul.accordion-content
                            li.inner-accordion-box
                                a.inner-accordion(href='#')
                                    span
                                        | Consulting
                                        i.fa.fa-plus
                                ul.inner-accordion-content
                                    li
                                        a(href='/consulting_analytics')
                                            span Analytics
                                    li
                                        a(href='/advancedanalytics')
                                            span Advanced Analytics
                                    li
                                        a(href='/bigdata')
                                            span Big Data
                                    li
                                        a(href='/cloudmigration')
                                            span Cloud Migration
                                    li
                                        a(href='/cognitiveanalytics')
                                            span Cognitive Analytics
                                    li
                                        a(href='/datastrategies')
                                            span Data Strategies
                                    li
                                        a(href='/digitalanalytics')
                                            span Digital Analytics
                                    li
                                        a(href='/performancemanagement')
                                            span Performance Management
                            li.inner-accordion-box
                                a.inner-accordion(href='#')
                                    span
                                        | Managed Services
                                        i.fa.fa-plus
                                ul.inner-accordion-content
                                    li
                                        a(href='/analyticsapplicationsupport')
                                            span Analytics Application Support &amp; Management
                                    li
                                        a(href='/applicationdevelopment')
                                            span Application Development
                            li.inner-accordion-box
                                a.inner-accordion(href='#')
                                    span
                                        | Packaged Services
                                        i.fa.fa-plus
                                ul.inner-accordion-content
                                    li
                                        a(href='/assessments_806162691')
                                            span Assessments &amp; Healthchecks
                                    li
                                        a(href='/jumpstarts')
                                            span Jumpstarts
                                    li
                                        a(href='/workshops')
                                            span Workshops
                            li.inner-accordion-box
                                a.inner-accordion(href='#')
                                    span
                                        | Training &amp; Education
                                        i.fa.fa-plus
                                ul.inner-accordion-content
                                    li
                                        a(href='/customizedtraining')
                                            span Customized Training
                                    li
                                        a(href='/solutiontraining')
                                            span Solution Training
                    li.accordion-box
                        a.accordion(href='#')
                            | Products
                            i.fa.fa-plus
                        ul.accordion-content
                            li.inner-accordion-box
                                a.inner-accordion(href='#')
                                    span
                                        | Cognitive Analytics
                                        i.fa.fa-plus
                                ul.inner-accordion-content
                                    li
                                        a(href='/cognos_analytics')
                                            span Cognos Analytics
                                    li
                                        a(href='/planning_analytics')
                                            span Planning Analytics
                                    li
                                        a(href='/watson_analytics')
                                            span Watson Analytics
                            li.inner-accordion-box
                                a.inner-accordion(href='#')
                                    span
                                        | Advanced Analytics
                                        i.fa.fa-plus
                                ul.inner-accordion-content
                                    li
                                        a(href='/spss_modeler')
                                            span SPSS Modeler
                                    li
                                        a(href='/spss_statistics')
                                            span SPSS Statistics
                                    li
                                        a(href='/decision_optimization')
                                            span Decision Optimization
                                    li
                                        a(href='/other')
                                            span Other
                            li.inner-accordion-box
                                a.inner-accordion(href='#')
                                    span
                                        | Watson Marketing
                                        i.fa.fa-plus
                                ul.inner-accordion-content
                                    li
                                        a(href='/campaign')
                                            span IBM Campaign
                                    li
                                        a(href='/marketing_cloud')
                                            span IBM Marketing Cloud
                                    li
                                        a(href='/ibm_watson_analytics_for_social_media')
                                            span Watson Analytics for Social Media
                                    li
                                        a(href='/customer_experience_analytics')
                                            span Watson Customer Experience Analytics
                                    li
                                        a(href='/ibm_watson_marketing_insights')
                                            span Watson Marketing Insights
                                    li
                                        a(href='/waston_real_time_personalization')
                                            span Watson Real-Time Personalization
                            li
                                a.inner-accordion(href='#')
                                    span
                                        | Information Management
                                        i.fa.fa-plus
                                ul.inner-accordion-content
                                    li
                                        a(href='/big_data')
                                            span Big Data
                                    li
                                        a(href='/databases')
                                            span Databases
                                    li
                                        a(href='/data_management')
                                            span Data Management
                    li
                        a(href='#') Events
                    li
                        a(href='#') About
                ul.show-mobile-list
                    li
                        a(href='#') Events
                    li
                        a(href='#') About
                ul.profile-link-box
                    li
                        a(href='#')
                            i.fa.fa-user
                            | My KPI
                    li
                        a(href='#') (877) 574-3678
                    li
                        a.lang(href='#') FR
                        a.lang.active(href='#') ENG
        .header-bottom
            .header-bottom-l
                .header-logo
                    img(src='img/logo.jpg', alt='logo')
                .navbar
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                    .navbar-collapse.collapse
                        ul.nav.navbar.header-bottom-menu
                            li.item1_menu.active
                                a(href='#') Business Analytics
                            li.item1_menu
                                a(href='#') Digital Marketing
                            li.item1_menu
                                a(href='#') Performance Management
                            li.header-bottom-menu-right
                                a(href='/contact') Contact
                            li.header-bottom-menu-right
                                a(href='/careers') Careers
                            li.header-bottom-menu-right
                                a(href='/events') Events

