script(src='http://kpidigital.com/js/bootstrap.js')
script(src='http://kpidigital.com/js/libs/jquery.flexslider-min.js')
script(src='http://kpidigital.com/js/slick.js')
script(src='http://kpidigital.com/js/libs/bootstrap-datepicker.min.js')
script(src='http://kpidigital.com/js/libs/jquery.slicknav.min.js')
script(src='http://kpidigital.com/js/libs/animatedtext.js')
script(src='http://kpidigital.com/js/libs/jquery.mCustomScrollbar.concat.min.js')
script(src='http://kpidigital.com/vendor/magnific-popup/magnific-popup.js')
script(src='/scripts/common.js' defer)
script(src='/scripts/app.bundle.js' defer)
