doctype html
html
    include common/_head
    body
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->
        include common/_index-header

        <!-- page content start -->
        section.content
            include sections/_icon-card
            include sections/_blog-card
        <!--  container start -->

        include common/_footer
        include common/_scripts
