// blog-card section start
#blog.blog-card
  .container
    .blog-card--header
      h2.blog-header--title LATEST NEWS
      p.blog-header--text
    .row.blog-masonry
      .col-md-4.col-sm-4.blog-post
        .post-thumbnail
          a(href='#', title='')
            img(src='http://staging-kpi.ml/uploads/media/22__611x580.png', alt='')
        // .post-thumbnail
        .post-content
          .post-meta
            span.date
              i.icon-calendar
              | 05.29.2017
          h3.post-title
            a(href='#') Creativity + Technology = The Future of Marketing
          p.post-descr
            | Last week, on behalf of IBM as a member of their Futurist team, I attended MarTech, a conference dedicated to examining how technology will continue to impact the marketing function at organizations around the world.
          a.blog-read-more(href='#')
            i.fa.fa-angle-right
            | Read More
        // .post-content
      // .col-md-4
      .col-md-4.col-sm-4.blog-post
        .post-thumbnail
          a(href='#', title='')
            img(src='http://staging-kpi.ml/uploads/media/22__611x580.png', alt='')
        // .post-thumbnail
        .post-content
          .post-meta
            span.date
              i.icon-calendar
              | 04.24.2017
          h3.post-title
            a(href='#') Driving customer advocacy through personalized marketing
          p.post-descr
            | There is no doubt that consumer expectations have changed. They expect each innovation to be faster, smaller, smarter, and more accessible than the last.
          a.blog-read-more(href='#')
            i.fa.fa-angle-right
            | Read More
        // .post-content
      // .col-md-4
      .col-md-4.col-sm-4.blog-post
        .post-thumbnail
          a(href='#', title='')
            img(src='http://staging-kpi.ml/uploads/media/22__611x580.png', alt='')
        // .post-thumbnail
        .post-content
          .post-meta
            span.date
              i.icon-calendar
              | 04.03.2017
          h3.post-title
            a(href='#') Designing Icons for Detailed Product Features
          p.post-descr
            | IBM holds its annual Amplify Conference, designed to help companies better understand how to build customer engagement in what IBM calls the &ldquo;era of Cognitive&rdquo;.
          a.blog-read-more(href='#')
            i.fa.fa-angle-right
            | Read More

// blog-card section end
