// icons-card section start
section#icons-card.icons-card.card-items4
  .container
    .icons-card--header
      h2.icons-card--title Acquisition, Analytics &amp; Marketing ROI pains?
      p.icons-card--text
    #icons-card-wrapper
      // ul#icon-card-slider(slider-autoplay="false")
      ul
        li
          .icons-card-item
            .icons-card--icon
              a.icon-btn.icon-circle(href='#')
                i.fa.fa-shopping-cart
            h3.icons-card--item-title Attract, acquire &amp; grow
            p.icons-card--item-desc Use behavioral customer segmentation to begin your
            a.btn.icons-card--learn-btn(href='#') Learn how
        li
          .icons-card-item
            .icons-card--icon
              a.icon-btn(href='#')
                i.fa.fa-sliders
            h3.icons-card--item-title Campaign Automation
            a.btn.icons-card--learn-btn(href='#') Read More
        li
          .icons-card-item
            .icons-card--icon
              a.icon-btn.icon-circle(href='#')
                i.fa.fa-shopping-cart
            h3.icons-card--item-title Attract, acquire &amp; grow
            p.icons-card--item-desc Use behavioral customer segmentation to begin your
            a.btn.icons-card--learn-btn(href='#') Learn how
        li
          .icons-card-item
            .icons-card--icon
              a.icon-btn(href='#')
                i.fa.fa-sliders
            h3.icons-card--item-title Campaign Automation
            a.btn.icons-card--learn-btn(href='#') Read More
        li
          .icons-card-item
            .icons-card--icon
              a.icon-btn.icon-circle(href='#')
                i.fa.fa-shopping-cart
            h3.icons-card--item-title Attract, acquire &amp; grow
            p.icons-card--item-desc Use behavioral customer segmentation to begin your
            a.btn.icons-card--learn-btn(href='#') Learn how
        li
          .icons-card-item
            .icons-card--icon
              a.icon-btn.icon-circle(href='#')
                i.fa.fa-shopping-cart
            h3.icons-card--item-title Attract, acquire &amp; grow
            p.icons-card--item-desc Use behavioral customer segmentation to begin your
            a.btn.icons-card--learn-btn(href='#') Learn how
        li
          .icons-card-item
            .icons-card--icon
              a.icon-btn.icon-circle(href='#')
                i.fa.fa-shopping-cart
            h3.icons-card--item-title Attract, acquire &amp; grow
            p.icons-card--item-desc Use behavioral customer segmentation to begin your
            a.btn.icons-card--learn-btn(href='#') Learn how
        li
          .icons-card-item
            .icons-card--icon
              a.icon-btn.icon-circle(href='#')
                i.fa.fa-shopping-cart
            h3.icons-card--item-title Attract, acquire &amp; grow
            p.icons-card--item-desc Use behavioral customer segmentation to begin your
            a.btn.icons-card--learn-btn(href='#') Learn how
        li
          .icons-card-item
            .icons-card--icon
              a.icon-btn.icon-circle(href='#')
                i.fa.fa-shopping-cart
            h3.icons-card--item-title Attract, acquire &amp; grow
            p.icons-card--item-desc Use behavioral customer segmentation to begin your
            a.btn.icons-card--learn-btn(href='#') Learn how
        li
          .icons-card-item
            .icons-card--icon
              a.icon-btn.icon-circle(href='#')
                i.fa.fa-shopping-cart
            h3.icons-card--item-title Attract, acquire &amp; grow
            p.icons-card--item-desc Use behavioral customer segmentation to begin your
            a.btn.icons-card--learn-btn(href='#') Learn how
        li
          .icons-card-item
            .icons-card--icon
              a.icon-btn.icon-circle(href='#')
                i.fa.fa-shopping-cart
            h3.icons-card--item-title Attract, acquire &amp; grow
            p.icons-card--item-desc Use behavioral customer segmentation to begin your
            a.btn.icons-card--learn-btn(href='#') Learn how
        li
          .icons-card-item
            .icons-card--icon
              a.icon-btn.icon-circle(href='#')
                i.fa.fa-shopping-cart
            h3.icons-card--item-title Attract, acquire &amp; grow
            p.icons-card--item-desc Use behavioral customer segmentation to begin your
            a.btn.icons-card--learn-btn(href='#') Learn how
// icons-card section end
