section.masonry-card
	.container-fluid
		.row
			.col-md-3.col-sm-6.col-lg-3
				.mason-block.long-block.mason-block-1(style='background: linear-gradient(135deg, rgb(52, 101, 223) 0%, rgb(86, 128, 233) 100%);')
					h2 Welcome to Campaign Managment
					a.btn(href='#', style='font-size: 14px; color: black; background-color: #FFC44B;') GARTNER REPORT
					.mason-icon-box
						span.ti-control-forward
			.col-md-6.col-sm-6.col-lg-6
				.mason-block.mason-block-2(style='background-color: #fff;')
					h3 Campaign Strategy
					p Our campaign strategy is built on the foundation of driving measurable results. We take an omni-channel approach to online marketing with a focus on increasing conversions, repeat traffic and generating revenue.
			.col-md-3.col-sm-6.col-lg-3
				.mason-block.video-btn-block.mason-block-3(style='background-image: url(https://marcann.github.io/images/office-building-night.jpg);')
					a.popup-youtube.mason-video-link(href='https://www.youtube.com/watch?v=sXP8WOMmWL8')
						span.ti-control-play
			.col-md-4.col-sm-6.col-lg-4
				.mason-block.mason-block-4(style='background-color: #7B9CF0;')
					p(style='color: white;') We didn&apos;t get to where we are today overnight. Our combined
					span(style='color: black;font-size: 1.8em;line-height: 37px;') 187 years of digital brain power
					| entitles us to be called
					span experts in digital marketing
						.
			.col-md-2.col-lg-2.mas-tab-hide
				.mason-block.mason-block-5(style='background-color: #7B9CF0;')
					.mason-icon-box
						img(src='img/brain.svg', alt='')
			.col-md-3.col-sm-6.col-lg-3
				.mason-block.mason-block-6(style='background-color: #fff;')
					h3 Did you know?
					p Customers who were exposed to a display ad performed
						span(style='font-size: 33px;') 5%

						span(style='color: #1349D0;') to

						span(style='font-size: 26px;') 25%

						span(style='color: #1349D0;') more campaign-relevant searches. We knew!
			.col-md-3.col-sm-6.col-lg-3
				.mason-block.mason-block-7(style='background-color: #f7f7f7;')
					h3 KPI Measurable Results
					p Our customer, a leading retailer saw a 43% increase in traffic conversion rate over 12 months!
			.col-md-4.col-sm-6.col-lg-4
				.mason-block.mason-block-8(style='background-color: #fff;')
					h3 Reporting and Analytics
					p  Track and analyze visitor behavior over time and across multiple touchpoints and channels.  KPI Digital takes you from Insight to personalized marketing action with just a few clicks.
					a.popup-youtube.mason-video-link(href='https://www.youtube.com/watch?v=sXP8WOMmWL8')
						span.ti-control-play
						| Watch the video!
			.col-md-5.col-sm-6.col-lgl-5
				.mason-block.video-btn-block.mason-block-9(style='background-image: url(https://marcann.github.io/images/cust-exp-nightmare-bg.jpg);')
					a.popup-youtube.mason-video-link(href='https://www.youtube.com/watch?v=sXP8WOMmWL8')
						span.ti-control-play
			.col-md-3.col-sm-6.col-lg-3.mas-tab-hide
				.mason-block.mason-block-10(style='background-image: url(https://marcann.github.io/images/orange-shoes-blue-stairs.jpg);')
			.col-md-6.col-sm-6.col-lg-6
				.mason-block.mason-block-11(style='background-color: #f7f7f7;;')
					h3 Insights and Industry Benchmarks
					p From adapting to new trends to deploying your strategy, you must always stay ahead of the game to experience success. But how can you know for sure if you are among the frontrunners, or trailing them? The answer is simple: benchmarking and Insights.
					a(href='#')
						span.ti-arrow-right
						| Let's talk
			.col-md-3.col-sm-6.col-lg-3
				.mason-block.mason-block-12(style='background-color: #ebebeb;')
					h3 Investment Optimization
					p IBM research indicates that only
						span(style='font-size: 33px;') 30% of companies regard their CRM investments as successful.  Would you like to know why?
					a(href='#')
						span.ti-arrow-right
						| Let's talk
    