.icons-card {
  display: block;

  .icons-card--header {
    text-align: center;
    display: block;
    padding: 0 0 40px;

    .icons-card--title,
    .icons-card--text {
      display: block;
      text-align: center;
    }
  }
}

.icons-card-item {
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;

  .icons-card--icon {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;

    .icon-btn {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
      width: 100px;
      height: 100px;
      margin: -40px  auto 0;
      text-align: center;
      vertical-align: middle;
      position: relative;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;

      .fa {
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        display: table-cell;
        vertical-align: middle;
        z-index: 300;
        position: absolute;
        left: 50%;
        top: 30%;
        margin-left: -20%;
      }
    }

    .icon-btn.icon-circle {
      width: 100px;
      height: 100px;
      left: 50%;
      //margin-left: -50px;
      margin: 40px auto 0 -50px;
      padding-top: 20px;
      padding-bottom: 20px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        background: #fff;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
        text-align: center;
        z-index: 10;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  .icons-card--item-title {
    font-size: 20px;
    text-align: center;
    color: inherit;
    margin: 0 0 20px;
    padding: 0;
    font-weight: 400;
  }

  .icons-card--item-desc {
    text-align: center;
    color: #2e2e2e;
    display: none;
    font-size: 14px;
    line-height: 24px;
  }

  .icons-card--learn-btn {
    display: block;
    background: #28bbf8;
    color: #fff;
    border: 2px solid #28bbf8;
    border-bottom: none !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    border-radius: 2px;

    &:hover {
      background: #282e3c;
      color: #fff;
      box-shadow: none;
      outline: none !important;
      border-color: transparent;
    }

    &:hover + .icon-btn.icon-circle:hover {
      margin-top: -20px;
      margin-bottom: 20px;

      &::after {
        background: #28bbf8;
      }

      .fa {
        color: #fff;
      }
    }
  }
}

.icons-card-item:hover {
  .icon-btn.icon-circle {
    margin-top: -10px;
    margin-bottom: 50px;

    &::after {
      background: #28bbf8;
    }

    .fa {
      color: #fff;
    }
  }
}

#icons-card.card-items3 {
  ul > li {
    width: 31% !important;
    display: inline-block;
    margin: 0 0.7% 30px;
    vertical-align: top;

    &::before {
      display: none;
    }

    .btn {
      max-width: 220px;
      margin: 0 auto;
    }
  }
}

#icons-card.card-items4 {
  ul > li {
    vertical-align: top;
    width: 24% !important;
    display: inline-block;
    margin-bottom: 30px;

    &::before {
      display: none;
    }

    .btn {
      max-width: 220px;
      margin: 0 auto;
    }
  }
}

#icons-card.card-items6 {
  ul > li {
    vertical-align: top;
    width: 15% !important;
    display: inline-block;
    margin: 0 0.5% 30px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &::before {
      display: none;
    }

    .btn {
      max-width: 220px;
      margin: 0 auto;
    }
  }
}
