/* knowledge section start */

.round {
  border-radius: 50%;
  border: 3px solid #7599af;
}

.square {
  border: none;
}

.knowledge-prov {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  .knowledge-prov-header {
    max-width: 830px;
    padding: 0 15px;
    margin: 0 auto 40px auto;
    text-align: center;
    .knowledge-prov-header-title {
      font-weight: bold;
      font-size: 40px;
      margin: 0 0 20px;
    }
    .knowledge-prov-header-text {
      font-size: 18px;
      margin: 0;
      line-height: 1.6;
    }
  }
  .knowledge-prov-slider-wrapper {
    margin-top: 40px;
    .knowledge-prov-slider {
      padding: 0 20px;
      .slick-prev,
      .slick-next {
        transform: translateY(-50%);
        top: 50%;
      }
      .knowledge-prov-item {
        height: 100%;
        .knowledge-prov-item-img {
          max-width: 185px;
          width: 185px;
          height: 185px;
          margin: auto;
          margin-bottom: 20px;
          background-size: cover;
          background-position: center center;
        }
        .knowledge-prov-item-text {
          flex: 0 1 auto;
          display: flex;
          min-height: 1px;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: calc(100% - 185px - 20px);
          p {
            cursor: default;
          }
          .knowledge-prov-item-name {
            text-align: center;
            font-size: 16px;
            font-weight: bold;
          }
          .knowledge-prov-item-title {
            margin-bottom: 15px;
            text-align: center;
          }
          .knowledge-prov-item-subtitle {
            line-height: 1.6em;
            margin-bottom: 10px;
            ul {
              li {
                position: relative;

                &:before {
                  content: '•';
                  position: absolute;
                  left: -.75em;
                  font-size: 1.2em;
                }
              }
            }
          }
          .knowledge-prov-item-more {
            padding: 10px 40px;
            text-align: center;
            display: block;
            margin: initial;
            &:active {
              box-shadow: inset 0 3px 5px rgba(0, 0, 0, .5);
            }
          }
        }
      }
    }
  }
}


/* knowledge sections end */