@font-face {
  font-family: helvetica;
  src: url('../fonts/helvetica/helvetica.eot');
  src: url('../fonts/helvetica/helvetica.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/helvetica.woff') format('woff'),
  url('../fonts/helvetica/helvetica.ttf')  format('truetype'),
  url('../fonts/helvetica/helvetica.svg#svghelvetica') format('svg');
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helveticaneue/helveticaneue.eot');
  src: url('../fonts/helveticaneue/helveticaneue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneue/helveticaneue.woff') format('woff'),
  url('../fonts/helveticaneue/helveticaneue.ttf')  format('truetype'),
  url('../fonts/helveticaneue/helveticaneue.svg#svghelvetica') format('svg');
  font-weight: 300;
}