#btn-slide-box{
  margin-right: -45px;
  padding-left: 35px;
  .btn-slide{
    display: block;
  }
}
#openSearchMobile{
  display: none;
}
.search-box-mobile{
  display: none;
}
.right-slide-menu {
  background: #fff;
  border-left: 1px solid #777677;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translate3d(100%, 0px, 0px);
  transform: translate3d(100%, 0px, 0px);
  -webkit-transition: all .5s cubic-bezier(0.2, 1, 0.2, 1);
  transition: all .5s cubic-bezier(0.2, 1, 0.2, 1);
  width: 380px;
  z-index: 1005;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    border-top: 2px solid #5a5a5a;
    &:first-child {
      margin: 0;
    }
    li {
      padding: 0;
      position: relative;
      &:before {
        display: none;
      }
      a {
        padding: 10px 20px;
        color: #323232;
        display: block;
        position: relative;
        transition: none;
        text-decoration: none;
        &:hover, &:focus, .accordion-active {
          color: #fff;
          background-color: #3b6caa;
        }
      }

    }
    .accordion {
      position: relative;
      .fa {
        position: absolute;
        display: block;
        text-align: right;
        font-size: 24px;
        top: 10px;
        right: 10px;
      }
    }
    .accordion.accordion-active {
      .fa-plus:before {
        content: "\f068";
      }
    }

    .accordion-content {
      display: none;
      border: none;
      padding-left: 10px;
      font-size: 16px;
      li {
        a
        span {
          border-bottom: 4px solid transparent;
          padding-bottom: 5px;
        }
        a:hover, a:focus {
          color: #000;
          background-color: transparent;
          span {
            border-bottom: 4px solid #323232;
          }
        }
      }
    }
    .btn-slide-close {
      display: block;
      width: 100%;
      padding: 19px 20px;
      min-height: 40px;
      font-size: 24px;
      .fa {
        text-align: right;
        display: block;

      }
      &:hover{
        cursor: focus;
        background-color: #fff;
        color: #323232;
      }
    }
  }
  .profile-link-box{
    display: none;
  }
}
.right-slide-menu.slide-show{
  -webkit-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);
}
.header-wrapper.overlay-dark{
  background: rgba(0,0,0,0.5) 0 0;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  will-change: transform;
}
.accordion-content {
  .inner-accordion-box {
    border: none;
    font-size: 16px;
    .inner-accordion-content {
      display: none;
      list-style: none;
      border: none;
      margin: 0;
      padding-left: 25px;
      a:hover, a:focus {
        color: #3b6caa;
        background-color: transparent;
        span {
          border-bottom: none;
        }
      }
    }
  }
  .fa {
    position: absolute;
    display: block;
    text-align: right;
    font-size: 24px;
    top: 10px;
    right: 10px;
  }
  .inner-accordion-box {
    .accordion-active {
      .fa-plus:before {
        content: "\f068" !important;
      }
    }
  }
}
