$arrows-transition: opacity ease-in-out 0.5s;
$btn-transition: background-color ease-in-out 0.25s;
$link-transition: all ease-in-out 0.25s;
$orange: #5aaafa;
$dark-orange: #468fdb;
$second-color: #152935;
